<style>
    
        .pagination {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            padding: 1rem;
        }
        .pagination ul {
            list-style: none;
            display: flex;
            gap: 0.5rem;
            padding: 0;
        }
        .pagination ul li {
            margin: 0;
        }
        .pagination ul li a {
            text-decoration: none;
            color: #333;
            padding: 0.5rem 1rem;
            border: 1px solid #ddd;
            border-radius: 4px;
            background-color: white;
            transition: background-color 0.3s;
        }
        .pagination ul li a:hover {
            background-color: #f4f4f4;
        }
</style>
<div class="header">
    <h1>Quản lý bài đăng người dùng</h1>
    <div class="search-box">
        <form method="GET" class="search-form">
            <input type="text" class="search" id="searchInput" placeholder="Tìm kiếm... ">
        </form>
    </div>
</div>
    <table class="post-table">
        {{#if posts}}
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên người dùng</th>
                <th>Tiêu đề</th>
                <th>Nội dung</th>
                <th>Ngành</th>
                <th>Tập tin</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody id="post-list" >
                {{#each posts}}
                    <tr data-id="{{this.id}}">
                        <td title="{{sum @index 1}}" class="Id">{{sum @index 1}}</td>
                        <td title="{{this.author.userName}}" class="username">{{this.author.userName}}</td>
                        <td title="{{this.postTitle}}" class="title">{{this.postTitle}}</td>
                        <td title="{{this.postContent}}" class="content">{{this.postContent}}</td>
                        <td title="{{this.industryName}}" class="additional-info">{{this.industryName}}</td>
                        <td><a href="/document/view/{{this._id}}" target="_blank">Xem file</a></td>
                        <td>
                            <button data-delete="{{this._id}}" class="delete-post">Xóa</button>
                        </td>
                    <tr>
                {{/each}}
        </tbody>
        
        {{else}}
            <tr>
                <h3 colspan="7">Không có bài đăng nào.</h3>
            </tr>
        {{/if}}
        
    </table>
    {{#if totalPages}}
        <tfoot>
            <nav class="pagination">
                <ul>
                    <li><a id="previous-page" href="#">&laquo; Previous</a></li>
                    {{#each (range 1 totalPages)}}
                        <li><a id="link-page" href="?page={{this}}">{{this}}</a></li>
                    {{/each}}
                    <li><a id="next-page" href="#">Next &raquo;</a></li>
                </ul>
            </nav>
        </tfoot>
        {{/if}}
  
{{!-- form xóa dữ liệu --}}
<form id="form-delete" action="/admin/postManage/" method="post"></form>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="/js/admin.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const deleteButtons = document.querySelectorAll('.delete-post');
            deleteButtons.forEach(button => {
                button.addEventListener('click', function() {
                    if (!confirm('Bạn có chắc chắn muốn xóa bài đăng này?')) {
                        return;
                    }
                    const postId = button.getAttribute('data-delete');
                    const formDelete = document.querySelector('#form-delete');
                    formDelete.action = `/admin/postManage/${postId}?_method=DELETE`;
                    formDelete.submit();
                });
            });

            //kích hoạt thanh search
            const searchFrm = document.querySelector('.search-box form');
            const searchInput = document.getElementById('searchInput');
            const searchIcon = document.getElementById('search-icon');
            searchIcon.addEventListener('click', function() {
                if (searchInput.value) {
                    searchFrm.action = `/admin/postManage/${searchInput.value}`;
                    searchFrm.submit();
                    //window.location.href = `/admin/postManage/${searchInput.value}`;
                } else {
                    searchInput.focus();
                }
            });

            //kích hoạt search khi nhấn enter
            searchInput.addEventListener('keypress', function(e) {
                if (e.key === 'Enter') {
                    searchFrm.action = `/admin/postManage/${searchInput.value}`;
                    searchFrm.submit();
                }
            });
        });
        //lấy page hiện tại
        const urlParams = new URLSearchParams(window.location.search);
        const page = urlParams.get('page') || 1;
        //lấy tất cả các nút chuyển trang
        const paginationLinks = document.querySelectorAll('.pagination ul li a#link-page');
        const totalPages = paginationLinks.length;
        //tô đậm nút chuyển trang hiện tại
        paginationLinks.forEach(link => {
            if (link.textContent == page) {
                link.style.color = 'white';
                link.style.background = 'blue';
            }
        });
        //nút chuyển trang tiếp theo
        const nextPage = document.querySelector('.pagination ul li a#next-page');
        nextPage.href = (page < totalPages) ? `?page=${parseInt(page) + 1}` : `?page=${totalPages}`;
        //nút chuyển trang trước
        const previousPage = document.querySelector('.pagination ul li a#previous-page');
        previousPage.href = (page > 1) ? `?page=${parseInt(page) - 1}` : `?page=1`;

        //giới hạn số nút chuyển trang là 4
        if (totalPages > 4) {
            paginationLinks.forEach(link => {
                if (link.textContent != page && link.textContent != 1 && link.textContent != totalPages && link.textContent != parseInt(page) + 1 && link.textContent != parseInt(page) - 1) {
                    link.style.display = 'none';
                }
            });
        }
    </script>