<div class="">
    <div class="row">
        {{#if post}}
        <div style="height: 100vh;" class="col-lg-3 bordered-container">
            <div class="username">
                <h1>{{post.author.userName}}</h1>
            </div>
            <div class="content-wrapper">
                <p><b>Tiêu đề: </b>{{post.postTitle}}</p>
                <p><b>Nội dung:</b> {{post.postContent}}</p>
                <div>
                    <span><b>Ngành:</b> {{post.industryName}}</span>
                    <br>
                    <span><b>Ngày đăng:</b> {{post.createdAt}}</span>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            {{#if (contain post.type "video/")}}
            <video width="100%" height="100%" controls>
                <source src="{{post.file}}" type="video/mp4">
                <source src="{{post.file}}" type="video/ogg">
                <source src="{{post.file}}" type="video/webm">
                <p>trình duyệt không hỗ trợ xem trực tiếp loại file này</p>
                <!-- tạo nút download file -->
                <a href="{{post.file}}" download="{{post.postTitle}}">Download file</a>
            </video>
            {{else if (contain post.type "image/")}}
            <object data="{{post.file}}" type="{{post.type}}" width="100%" height="100%">
                <p>trình duyệt không hỗ trợ xem trực tiếp loại file này loại file này</p>
                <!-- tạo nút download file -->
                 <p>nếu bạn muốn tiếp tục xem, hãy ấn vào download bên dưới</p>
                <a href="{{post.file}}" download="{{post.postTitle}}">Download file</a>
            </object>
            {{else if (eq post.type "application/pdf")}}
            <object data="{{post.file}}" type="{{post.type}}" width="100%" height="100%">
                <p>trình duyệt không hỗ trợ xem trực tiếp loại file này loại file này</p>
                <!-- tạo nút download file -->
                <a href="{{post.file}}" download="{{post.postTitle}}">Download file</a>
            {{else}}
                <p>trình duyệt không hỗ trợ xem trực tiếp loại file này loại file này</p>
                <!-- tạo nút download file -->
                <a href="{{post.file}}" download="{{post.postTitle}}">Download file</a>
            {{/if}}
            
        </div>
        {{/if}}
    </div>
</div>
